/*整体字体*/
*{font-family:Microsoft YaHei,sans-serif,"微软雅黑","黑体","宋体";font-size: 13px;}
body{
    height: 100%;
    width: 100%;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
}
.table-toolbar{
padding: 0px;
}

.inform{
    margin-top: 5px;
    margin-left: 3px;
    margin-bottom: 10px;
    width: 300px;
    float: left;
}
.pagin{
    margin-top: 5px;
    width: 500px;
    float: right;
    margin-right: 3px;
    margin-bottom: 10px;
}
.widget-body{
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #eeeeee;
}
.search{
    height: 20px;
    float: left;
    margin-top: 4px;
}
.search input{
    height: 20px;
}
.lench{
    height: 20px;
    width: 50px;
    right: 3px;
    position: absolute;
    margin-top: 4px;
}
.lench .dataTables_length label select{
    padding: 1px;
    height: 20px;
}
div.dataTables_wrapper div.dataTables_length select{
    width:50px;!important;
}
.form-inline{
    height: auto;
}
.form-inline .form-group,.form-inline .input-group{
    margin-top: 10px;
    height: 37px;
}
.form-group{
    /*width: 320px;*/
}
.form-group select{
    height: 37px;
}
.input-group .form-control{
    height: 37px;
}
.input-group .input-group-btn button{
    height: 37px;
}
.form-group label{
    float: left;
    /*width: 100px;*/
    height: 100%;
}
.form-group label>span{
    line-height: 37px;
}
.form-group input{
    display: inline;
}
.form-group span{
    display: inline;
}
.form-group .sltbtn{
    height: 37px;
    /*margin-left: -4px;*/
    margin-bottom: 17px;
    position: absolute;

}
label{
    cursor:default;!important;
}
.date-picker{
    font-size: 14px;
}
.form-group-select2{
    margin-top: 10px;
    /*width: 320px;*/
    height: 37px;
    margin-bottom: 15px;
    vertical-align: middle;
}
.form-group-select2 label{
    float: left;
    /*width: 100px;*/
    height: 100%;
}
.form-group-select2 label>span{
    line-height: 37px;
}
.select2-container .select2-selection--single{
    height: 37px;!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 37px;
}
.selectsearch{
    /*width: 200px;!important;*/
    height: 37px;!important;
    padding: 2px;
    width: 80%;!important;
}

.searchbtn a{
    height: 37px;
    padding-top: 8px;
}
.popbtn{
    width: 80%;
    height: 37px;
    /*display: -webkit-box;*/
}

.colyc{
    float:left; position:relative; z-index:200;height:26px;padding-left: 3px;margin-top: 2px; z-index: 2;
}
.showul{
    list-style:none;display:none; position:absolute; left:120px; top:10px; background:#FFFFFF; border:1px solid #ccc; width:150px;height: 150px;
    overflow: auto;
}
.showul li,.freeul li{
    background-color: #f9f9f9;border:1px solid #ddd;
}
.showul .checkbox{
    margin-left: 3px;
}
.showcol{
    margin-left: 2px;
}

.filtpane{
    height: 100%;
}
.widget{
    height: 100%;
    margin-bottom: 5px;
    display: block;
}
.control-group{
    margin-top: 5px;

}
.input-prepend {
    top:0px;
}
.form-group-l{
    padding-left:0px;padding-right:0px;
}

.redstar{
    color: #f04124;
}
.redstar span{
    color: #1a1a1a;
}
.control-label{
    padding-left:0;
}
.formbtn{
    margin-bottom: 10px;padding-left:5px;padding-right:5px;
}
/*.form-inline .form-control{*/
        /*width:200px;!important;*/
/*}*/
.form-inline .form-control{
    width: 80%;
}
.widget-header{
    background: #d2dde4;
}

.tredit,.trdelete,.trshenpi,.trzibiao{
    display: inline;
    margin-left: 3px;
}

.okbtn{
    float: right;
    background-color: #0099cc;
    color: #FFFFFF;
}
.okbtn:hover{
    background-color: #007095;
    color: #FFFFFF;
}
.refusebtn{
    background-color: #0099cc;
    color: #FFFFFF;
}
.refusebtn:hover{
    background-color: #3a9fd7;
    color: #FFFFFF;
}
.detailbtns{
    display: inline;
    float: right;
    margin-right: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.panel-body{
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 5px;
    padding-top: 2px;
}
.widget-body.no-padding .dataTables_filter label{
    margin: 0px;
}
.dtopbtn{
    margin-bottom: 2px;
}
.trzibiao,.trshenpi{
    display: none;!important;
}
::-webkit-scrollbar
{
    width: 0px;
}
.fileinput-upload-button{
    height: 37px;
}
.btn-file{
    height: 37px;
}
input[type="text"][readonly]{
    background-color: #fbfbfb;!important;
     border-color: #ccc;
}

input[type=checkbox].checkbox-slider.colored-blue:checked~.text:before{
    background-color: #3399ca !important;
    border-color: #3399ca !important;
}
input[type=checkbox].checkbox-slider.colored-blue:checked~.text:after{
    background-color: #3399ca!important;
    border-color: #fbfbfb!important;
}
input[type=checkbox].checkbox-slider.colored-blue~.text:after{
    border-color: #3399ca!important;
}
.rdbtnspan{
    float: left;margin-top: 6px;
}
.rdbtnlab{
    height: 25px;float: right;
}
/*刷新标题栏固定*/
.widget-header{
    position: fixed;
    z-index: 99;
    width: 100%;
}
.widget-main{
    padding-top: 40px;
}
.glyphicon-refresh{
    color: #fff;
}
.bordered-blue{
    border-color: #3299cb !important;
}
/*预加载样式*/
#cyreload{position: fixed;width: 100%;height: 100%;top:0px;left: 0px;background-color: #eee;z-index: 9999999;opacity:1;}
.spinner3 {
    right: 50%;left: 50%;
    top:50%;bottom: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-animation: rotate 2.0s infinite linear;
    animation: rotate 2.0s infinite linear;

}
.imglogodiv{
    width: 100%;
    height: 50px;
    top:40%;bottom: 60%;
    position: absolute;
    text-align: center;
}
.imglogo{
    width: 178px;
    height: 50px;
}
.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #0099cc;
    border-radius: 100%;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg);}}
@keyframes rotate {
    100% { transform: rotate(360deg); -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
/*预加载样式结束*/
@media only screen and (min-width: 321px) and (max-width: 1024px){
    .trzibiao{
        display: inline;
    }
    .trdelete {
        display: none;!important;
    }
}
@media screen and (max-width: 750px) {
    .form-inline .form-group label{
        float: left;
        margin-top: 0px;
    }
    .form-inline .form-group input{
        float: left;
        margin-top: 0px;
    }

    .form-group .sltbtn {
        height: 37px;
        margin-bottom: 17px;
        position: absolute;
        width: 50px;
    }

    .addbtn span{
        display: none;!important;
    }
    .showcol span{
        display: none;!important;
    }
    .colReordercol span{
        display: none;!important;
    }
    .pldelect span{
        display: none;!important;
    }
    .portbtn span{
        display: none;!important;
    }
    .exportbtn span{
        display: none;!important;
    }
    .spallbtn span{
        display: none;!important;
    }
    .logbtn span{
        display: none;!important;
    }
    .pipeibtn span{
        display: none;!important;
    }
    .trshenpi,.trdelete{
        display: none;!important;
    }
    .trzibiao{
        display: inline;
    }


}
.context-menu-active{
    background: #2d8cb9!important;
}
.rightselected{
    background: #2d8cb9 !important;
}
