/*整体字体*/
*{font-family:Microsoft YaHei,sans-serif,"微软雅黑","黑体","宋体";font-size: 13px;}
.widget .flat{
    height: 100%;
}
body{
    height: auto;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
}
.widget-body{
    height: 100%;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

.widget{
    height: 100%;
    margin-bottom: 5px;
    display: block;
}
.wbody{
    height: 100%;
}
.modal-header{
    height: 30px;
    padding: 2px;
}
.modal-header .close:hover{
    background-color: #FFFFFF;
}
.modal-header h6{
    margin-top: 3px;
    margin-left: 3px;
}
.modal-body{
    padding: 5px;
    background-color: #fbfbfb;
}

.goback{
    color: #f10a40;
}
.widget-header{
    background: #d2dde4;
}
.control-label{
    margin-top: 10px;
}
.okbtn{
    float: right;
    background-color: #0099cc;
    color: #FFFFFF;
}
.okbtn:hover{
    background-color: #007095;
    color: #FFFFFF;
}
textarea{
    margin-bottom: 0px;
}
.detailbtns{
    display: inline;
    float: right;
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.panel-body{
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 5px;
    padding-top: 2px;
}
.widget-body.no-padding .dataTables_filter label{
    margin: 0px;
}
.ztrset{
width: 150px;height: 20px;margin-top: 10px;
    border-radius:5px 5px 5px 5px;
}
.ztrinpt{
    width: auto;
    height: 20px;
    border-radius:5px 5px 5px 5px;
}
.modal-content{
    height: 600px;
}
tbody td .date-picker{
width: 160px;
     margin-top: 15px;
     height: 34px;
 }
tbody td .timerange{
    font-size: inherit;
    width: 200px;
    margin-top: 15px;
    height: 34px;
}
.kv-fileinput-caption{
    width: 100px;
    height: auto;
}
.input-group .form-control{
    width: 150px;
    height: 20px;
}
.file-caption-main{
    width: 200px;
}
.fileinput-remove-button{
    height: 20px;
}


fieldset legend{
    width: auto;
    border-bottom: 0px solid #e5e5e5;
    background-color: #fbfbfb;
}
@media screen and (max-width: 750px) {

}
