
/*菜单红点*/
.unread{
    float: right;
    background: #e74c3c;
    width: 1em;
    border-radius: 50%;
    font-size: 0.75em;
    line-height: 1;
    text-align: center;
    animation: notificationpulse 2s infinite;
    -webkit-animation: notificationpulse 2s infinite;
    -moz-animation: notificationpulse 2s infinite;
  margin-top: 1rem;
}
/*the animations */
@keyframes notificationpulse {
  0% {
    box-shadow: 0 0 0 0.00em #e74c3c;
  }
  25% {
    box-shadow: 0 0 0 0.15em #e74c3c;
  }
  50% {
    box-shadow: 0 0 0 0.30em #e74c3c;
  }
  75% {
    box-shadow: 0 0 0 0.20em #e74c3c;
  }
  100% {
    box-shadow: 0 0 0 0.15em #e74c3c;
  }
}
@-webkit-keyframes notificationpulse {
  0% {
    box-shadow: 0 0 0 0.00em #e74c3c;
  }
  25% {
    box-shadow: 0 0 0 0.15em #e74c3c;
  }
  50% {
    box-shadow: 0 0 0 0.30em #e74c3c;
  }
  75% {
    box-shadow: 0 0 0 0.20em #e74c3c;
  }
  100% {
    box-shadow: 0 0 0 0.15em #e74c3c;
  }
}

@-moz-keyframes notificationpulse {
  0% {
    box-shadow: 0 0 0 0.00em #e74c3c;
  }
  25% {
    box-shadow: 0 0 0 0.15em #e74c3c;
  }
  50% {
    box-shadow: 0 0 0 0.30em #e74c3c;
  }
  75% {
    box-shadow: 0 0 0 0.20em #e74c3c;
  }
  100% {
    box-shadow: 0 0 0 0.15em #e74c3c;
  }
}
/*菜单红点结束*/